* {
    font-family: "0xProto", sans-serif;
    font-size: 12px;
}

window#waybar {
    background: transparent;
    color: white;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
}

window#waybar > box {
    padding: 0px 20px;
    margin-top: 5px;
}

#workspaces {
    padding: 0;
    min-width: 20px;
}

#workspaces button,
#workspaces button label {
    animation: none;
    box-shadow: none;
    text-shadow: none;
    font-size: 18px;
}

#workspaces button,
#workspaces button:hover,
#workspaces button.active,
#workspaces button.active:hover {
    padding: 0 2px;
    border: none;
    border-bottom: none;
    border-top: none;
}

#workspaces button {
    background: transparent;
    color: #ffffff;
    transition: color 0.1s ease-in-out;
}

#workspaces button:hover {
    background: transparent;
    color: #8ac2dc;
    transition: color 0.1s ease-in-out;
}

#workspaces button.active,
#workspaces button.active label {
    background: transparent;
    color: #8acff0;
    transition: none;
}
#workspaces button.active:hover,
#workspaces button.active:hover label {
    background: transparent;
    color: #8acff0;
    transition: none;
}
#custom-mytext {
    font-size: 18px;
}

.modules-right {
    min-width: 150px;
    border-bottom: 1px solid #8acff0;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.06); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: none;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.modules-left {
    min-width: 100px;
    border-bottom: 1px solid #8acff0;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.06); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: none;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.modules-center {
    min-width: 20px;
    border-bottom: 1px solid #8acff0;
    padding: 0px 10px;
    background: rgba(255, 255, 255, 0.06); 
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-top: none;
    color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}